.gridbox1{
    display: grid;
    /* display:inline-grid; */
    background-color: rgb(202, 157, 243);
    /* grid-template-columns:auto auto auto auto; */
    grid-template-columns: 80px auto  20px 40px;
      /* grid-template-columns: repeat(3, 1fr); */
    gap:10px 20px;
}

.gridbox1>h2{
    padding: 20px;
    border:2px solid black;
    text-align: center;
    margin: 20px; 
}
/* rows and columns properties  -- gap,grid-row-start,grid-row*/
.box1{
    grid-column-start: 1;
    grid-column-end: 3;
}
/* .box1{
    grid-row-start: 1;
    grid-row-end: 3;
} */
 /* .box1{
   grid-row:1/span 3;
}  */
/*------------------------box2-------------------*/
.gridbox2{
    display:grid;
     
    /* grid-template-columns: 100px 120px auto 150px; */
    grid-template-columns: 1fr 3fr 1fr 1fr;
    /* grid-template-rows:1fr 3fr; */
    gap:10px 10px;
    background-color: #16cfcf;
    /* justify-content:start; */
    /* align-content: start;   */
    height: 500px;
    /* place-content:start space-between;  */
}
/* .item1{
    grid-area: 1 /3/ 3/ 3;
}  */
.gridbox2 > h2{
    border:2px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
/* .item2{
    justify-self: right;
}
.item3{
    justify-self: center;
} */
.item1{
    align-self:center ;
}
.item4{
    align-self:self-end;
}

